<div class="container__big-card">

    <div class="big-card__image">
        <img 
            src="https://cdn.britannica.com/49/182849-050-4C7FE34F/scene-Iron-Man.jpg" 
            alt=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident cumque reprehenderit atque optio 
            doloribus eos obcaecati sequi velit dolorem id.</a>
        </p>
    </div>

</div>
